on:
  push:
    branches:
      - main
    tags:
      - '1.*.*'

name: DigitalOcean Kubernetes Deploy

jobs:
# BUILD IMAGES
  build-images:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ steps.vars.outputs.image-tag }}
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Set up environment variables"
        id: vars
        run: |
          echo "IMAGE_TAG=`echo ${GITHUB_SHA} | cut -c1-8`-dev" >> $GITHUB_ENV
          echo "image-tag=`echo ${GITHUB_SHA} | cut -c1-8`-dev" >> $GITHUB_OUTPUT

      - name: "Login to GitLab Container Registry"
        uses: docker/login-action@v3
        with:
          registry: registry.gitlab.com
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: "Build and push Backend API image"
        run: |
          docker build -f backend/Dockerfile -t registry.gitlab.com/cytei-br/calculadora_api:${IMAGE_TAG} ./backend
          docker push registry.gitlab.com/cytei-br/calculadora_api:${IMAGE_TAG}

      - name: "Build and push Frontend image"
        run: |
          docker build -f frontend/Dockerfile -t registry.gitlab.com/cytei-br/calculadora_front:${IMAGE_TAG} ./frontend
          docker push registry.gitlab.com/cytei-br/calculadora_front:${IMAGE_TAG}

  deploy-to-kubernetes:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs: build-images
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Set up environment variables"
        run: |
          echo "IMAGE_TAG=${{ needs.build-images.outputs.image-tag }}" >> $GITHUB_ENV

      - name: "Install doctl"
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: "Save DigitalOcean kubeconfig"
        env:
          CLUSTER_NAME: ${{ secrets.CLUSTER_NAME }}
        run: doctl kubernetes cluster kubeconfig save $CLUSTER_NAME

      - name: "Deploy Backend API"
        run: |
          envsubst < .ci/backend/configmap.yml | kubectl apply -f -
          envsubst < .ci/backend/secrets.yml | kubectl apply -f -
          envsubst < .ci/backend/deployment.yml | kubectl apply -f -
          envsubst < .ci/backend/service.yml | kubectl apply -f -

      - name: "Deploy Frontend"
        run: |
          envsubst < .ci/frontend/deployment.yml | kubectl apply -f -
          envsubst < .ci/frontend/service.yml | kubectl apply -f -
          envsubst < .ci/frontend/ingress.yml | kubectl apply -f -

      - name: "Verify deployments"
        run: |
          echo "Verifying Backend API deployment..."
          kubectl -n calculadora rollout restart deployment calculadora-api
          kubectl -n calculadora rollout status deployment/calculadora-api

          echo "Verifying Frontend deployment..."
          kubectl -n calculadora rollout restart deployment calculadora-front
          kubectl -n calculadora rollout status deployment/calculadora-front
